/* === Stili Globali === */
body {
    background-color: #f8f9fa !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.8rem !important;
    padding: 1em;
}

/* === Tab Stili === */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

/* === Tabelle Stili === */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Adatta le larghezze in base al contenuto */
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    vertical-align: middle;
}

th.nome-alimento, td.nome-alimento,
th.nome-ricetta, td.nome-ricetta {
    text-align: center;
    width: 30%; /* Definisci la larghezza maggiore per la colonna Nome */
    min-width: 200px; /* Aggiungi una larghezza minima */
}

th.azione, td.azione {
    text-align: center;
    width: 10%; /* Puoi regolare questa larghezza */
}

th.calorie, td.calorie,
th.carboidrati, td.carboidrati,
th.proteine, td.proteine,
th.grassi, td.grassi,
th.colazione, td.colazione,
th.pane, td.pane,
th.colazione-sec, td.colazione-sec,
th.spuntino, td.spuntino,
th.principale, td.principale,
th.contorno, td.contorno,
th.attiva, td.attiva,
th.frutta, td.frutta,
th.macro, td.macro,
th.carne-bianca, td.carne-bianca,
th.carne-rossa, td.carne-rossa,
th.pane, td.pane,
th.verdura, td.verdura,
th.confezionato, td.confezionato,
th.vegan, td.vegan,
th.pesce, td.pesce {
    text-align: center;
    width: 6%; /* Puoi regolare questa larghezza */
}

/* === Modifica Macronutrienti === */
th.text-align-center, td.text-align-center,
th.calorie-edit, td.calorie-edit,
th.carboidrati-edit, td.carboidrati-edit,
th.proteine-edit, td.proteine-edit,
th.grassi-edit, td.grassi-edit {
    text-align: center;
}

.filter-text {
    font-size: 0.7rem !important;
}

.table-margin {
    margin-top: 0.3rem;
}

td div {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

td div:last-child {
    border-bottom: none;
}

#tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 1000;
    font-size: 0.8rem;
    max-width: 200px; /* Limita la larghezza massima del tooltip */
    word-wrap: break-word; /* Assicurati che il testo vada a capo se troppo lungo */
}

/* === Media Queries per dispositivi mobili === */
@media (max-width: 768px) {
    th, td {
        font-size: 0.7rem;
        padding: 6px;
    }

    th.nome-alimento, td.nome-alimento,
    th.nome-ricetta, td.nome-ricetta {
        width: 50%; /* Rendi la colonna Nome più larga su dispositivi mobili */
    }

    th.calorie, td.calorie,
    th.carboidrati, td.carboidrati,
    th.proteine, td.proteine,
    th.grassi, td.grassi,
    th.colazione, td.colazione,
    th.pane, td.pane,
    th.colazione-sec, td.colazione-sec,
    th.spuntino, td.spuntino,
    th.principale, td.principale,
    th.contorno, td.contorno,
    th.attiva, td.attiva,
    th.frutta, td.frutta,
    th.carne_bianca, td.carne_bianca,
    th.carne_rossa, td.carne_rossa,
    th.pane, td.pane,
    th.verdura, td.verdura,
    th.confezionato, td.confezionato,
    th.vegan, td.vegan,
    th.pesce, td.pesce {
        width: 10%;
    }

    .tab button {
        width: 100%; /* Rendi i pulsanti delle schede a larghezza piena su dispositivi mobili */
        font-size: 16px;
    }
}

/* === Stili Personalizzati per il Menu === */
.day-container {
    margin-bottom: 20px;
}

.meal-container {
    margin-left: 20px;
    margin-bottom: 15px;
}

.ricetta {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ricetta input {
    margin-right: 10px;
    width: 60%;
}

.ricetta button {
    margin-left: 10px;
}

/* === Tabella Selezione Pasti === */
#mealSelectionTable {
    margin-top: 20px;
}

#mealSelectionTable .table th,
#mealSelectionTable .table td {
    text-align: center;
    vertical-align: middle;
}

/* === Modale Footer === */
.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.table td input[type="number"] {
    width: 100%; /* L'input occupa il 100% della larghezza della cella */
    text-align: right; /* Testo centrato all'interno dell'input */
    box-sizing: border-box; /* Include padding e bordo all'interno della larghezza e altezza */
    padding: 0.25rem; /* Aggiungi un po' di padding per migliorare l'aspetto */
    height: 100%; /* Adatta l'altezza dell'input all'altezza della cella */
    display: block; /* Assicura che l'input si comporti come un blocco */
}

.span-width {
    width: fit-content;
    min-width: 10%; /* Larghezza minima */
    max-width: 30%;
}

.sticky-container {
    position: sticky;
    top: 0; /* Mantiene la table in alto rispetto alla viewport */
    z-index: 1000; /* Assicurati che sia sopra le altre card */
    background-color: white; /* Aggiungi uno sfondo per evitare sovrapposizioni di testo */
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra per migliorare la separazione visiva */
    padding-top: 10px; /* Aggiunge uno spazio sopra */
    padding-bottom: 10px; /* Aggiunge uno spazio sotto */
}