<!-- app/templates/add_ingredient_modal.html -->
<div class="modal fade" id="addIngredientModal" tabindex="-1" aria-labelledby="addIngredientModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addIngredientModalLabel">Aggiungi Ingrediente</h5>
            </div>
            <div class="modal-body">
                <form id="addIngredientForm">
                    <input type="hidden" id="modal-recipe-id">
                    <div class="form-group input-group input-group-sm mb-3">
                        <span class="input-group-text">Seleziona Ingrediente</span>
                        <select class="form-control form-select form-select-sm" id="ingredient-select">
                            <!-- Opzioni ingredienti caricati dinamicamente -->
                        </select>
                    </div>
                    <div class="form-group input-group input-group-sm mb-3">
                        <span class="input-group-text">Quantità</span>
                        <input type="number" class="form-control form-control-sm" id="ingredient-quantity"
                               placeholder="Inserisci la quantità">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="addIngredientToRecipe()">Aggiungi</button>
            </div>
        </div>
    </div>
</div>