<div class="modal fade" tabindex="-1" id="addFoodModal" aria-labelledby="addFoodModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFoodModalLabel">Crea Nuovo Alimento</h5>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('views.nuovo_alimento') }}" method="POST">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Nome</span>
                        <input type="text" class="form-control form-control-sm" name="alimento" placeholder="Inserisci nome alimento" required>
                    </div>
                    {% for field in ['Carboidrati', 'Proteine', 'Grassi'] %}
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">{{ field }}</span>
                        <input type="number" step=".01" class="form-control form-control-sm" name="{{ field | lower }}" placeholder="Inserisci {{ field | lower }}" required>
                    </div>
                    {% endfor %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="frutta" name="frutta">
                        <label class="form-check-label" for="frutta">Frutta</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="verdura" name="verdura">
                        <label class="form-check-label" for="verdura">Verdura</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="carne-bianca" name="carne-bianca">
                        <label class="form-check-label" for="carne-bianca">Carne Bianca</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="carne-rossa" name="carne-rossa">
                        <label class="form-check-label" for="carne-rossa">Carne Rossa</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="pesce" name="pesce">
                        <label class="form-check-label" for="pesce">Pesce</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="vegan" name="vegan">
                        <label class="form-check-label" for="vegan">Vegano</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="pane" name="pane">
                        <label class="form-check-label" for="pane">Pane</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="confezionato" name="confezionato">
                        <label class="form-check-label" for="confezionato">Confezionato</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary btn-sm">Salva</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
