<!-- app/templates/add_new_recipe_modal.html -->
<div class="modal fade" tabindex="-1" id="addRecipeModal" aria-labelledby="addRecipeModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecipeModalLabel">Crea Nuova Ricetta</h5>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('views.nuova_ricetta') }}" method="POST" id="createRecipeForm">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text">Nome</span>
                        <input type="text" class="form-control form-control-sm" name="name" placeholder="Inserisci nome ricetta" required>
                    </div>
                    {% for field in ['Colazione', 'Colazione/Biscotti', 'Spuntino', 'Principale', 'Contorno', 'Complemento'] %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{ field | lower }}" name="{{ field | lower }}">
                        <label class="form-check-label" for="{{ field | lower }}">{{ field }}</label>
                    </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
                        <button type="submit" class="btn btn-primary btn-sm">Salva</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
