<!-- app/templates/add_new_meal.html -->
<div class="modal fade" id="addMealModal" tabindex="-1" aria-labelledby="addMealModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMealModalLabel">Aggiungi Ricetta</h5>
      </div>
      <div class="modal-body">

        <!-- Tabella per i macronutrienti rimanenti -->
        <div id="popupRemainingMacros" class="mb-3">
          <table class="table table-sm table-striped table-bordered">
            <thead>
              <tr class="text-center">
                <th>Giorno</th>
                <th>KCAL</th>
                <th>Carboidrati</th>
                <th>Proteine</th>
                <th>Grassi</th>
                <th>Sale</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="popup-day"></td>
                <td class="text-center" id="popup-kcal"></td>
                <td class="text-center" id="popup-carbs"></td>
                <td class="text-center" id="popup-protein"></td>
                <td class="text-center" id="popup-fat"></td>
                <td class="text-center" id="popup-salt"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="mealSelectionTable">
          <!-- Tabel2la dinamica per la selezione dei pasti -->
          <table id="aggiungi-ricetta-table" class="table table-striped table-bordered table-sm">
            <thead>
              <tr>
                <th onclick="sortTable('aggiungi-ricetta-table', 0)">Nome Ricetta</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 1)">Kcal</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 2)">Carbs</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 3)">Prot</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 4)">Fat</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 5)">Fibre</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 6)">Zucchero</th>
                <th onclick="sortTable('aggiungi-ricetta-table', 7)">Sale</th>
                <th>Seleziona</th>
              </tr>
            </thead>
            <tbody id="mealSelectionBody">
              <!-- Contenuto caricato dinamicamente -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
        <button type="button" class="btn btn-primary btn-sm" id="confirmAddMeal">Aggiungi Selezionati</button>
      </div>
    </div>
  </div>
</div>
