<div id="Alimenti" class="tabcontent">
    <div class="card">
        <div class="card-body">
            <table id="alimenti-table" class="table table-sm table-striped table-hover table-margin">
                <thead>
                <tr>
                    <th class="nome-alimento">
                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#addFoodModal">Alimento +
                        </button>
                    </th>
                    <th class="calorie">Kcal</th>
                    <th class="carboidrati">Carboidrati (g)</th>
                    <th class="proteine">Proteine (g)</th>
                    <th class="grassi">Grassi (g)</th>
                    <th class="macro">Macro</th>
                    <th class="frutta">Frutta</th>
                    <th class="verdura">Verdura</th>
                    <th class="carne-bianca">Carne Bianca</th>
                    <th class="carne-rossa">Carne Rossa</th>
                    <th class="pesce">Pesce</th>
                    <th class="vegan">Vegan</th>
                    <th class="pane">Pane</th>
                    <th class="confezionato">Confezionato</th>
                    <th class="azione">Azioni</th>
                </tr>
                <tr>
                    <th><input type="text" id="filter-nome-alimento" class="form-control form-control-sm filter-text"
                               placeholder="Filtra per nome" onkeyup="filterAlimentiTable()"></th>
                    <th><input type="number" id="filter-calorie-min" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-calorie-max" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-carbo-min" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-carbo-max" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-proteine-min" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-proteine-max" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-grassi-min" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-grassi-max" class="form-control form-control-sm filter-number  filter-text"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><select id="filter-macro" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="C">C</option>
                        <option value="P">P</option>
                        <option value="G">G</option>
                    </select></th>
                    <th><select id="filter-frutta" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-verdura" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-carne-bianca" class="form-select form-select-sm"
                                onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-carne-rossa" class="form-select form-select-sm"
                                onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-pesce" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-vegan" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-pane" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th><select id="filter-confezionato" class="form-select form-select-sm"
                                onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th>
                        <button id="cleanFiltersBtn" class="btn btn-sm btn-secondary" onclick="cleanFiltersAlimenti()">
                            Clean
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody id="alimenti-tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>