<!-- app/templates/alimenti.html -->
<div id="Alimenti" class="tabcontent">
    <div class="card">
        <div class="card-body">
            <table id="alimenti-table" class="table table-sm table-hover table-bordered">
                <thead>
                <tr>
                    <th style="width:20%; text-align: center;" onclick="sortTable('alimenti-table', 0)">
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#addFoodModal">Alimento +
                        </button>
                    </th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 1)">Kcal</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 2)">Carbs</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 3)">Prot</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 4)">Fat</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 5)">Fibre</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 6)">Gruppo</th>
                    <th style="text-align: center;" onclick="sortTable('alimenti-table', 7)">Vegan</th>
                    <th style="text-align: center;">Azioni</th>
                </tr>
                <tr>
                    <th><input type="text" id="filter-nome-alimento" class="form-control form-control-sm"
                               placeholder="Filtra per nome" onkeyup="filterAlimentiTable()"></th>
                    <th><input type="number" id="filter-calorie-min" class="form-control form-control-sm"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-calorie-max" class="form-control form-control-sm"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-carbo-min" class="form-control form-control-sm"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-carbo-max" class="form-control form-control-sm"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-proteine-min" class="form-control form-control-sm"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-proteine-max" class="form-control form-control-sm"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-grassi-min" class="form-control form-control-sm"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-grassi-max" class="form-control form-control-sm"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th><input type="number" id="filter-fibre-min" class="form-control form-control-sm"
                               placeholder="Min" oninput="filterAlimentiTable()">
                        <input type="number" id="filter-fibre-max" class="form-control form-control-sm"
                               placeholder="Max" oninput="filterAlimentiTable()">
                    </th>
                    <th>
                        <select id="filter-gruppo" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                            <option value="all"></option>
                            <!-- Dinamicamente popolato dai gruppi -->
                        </select>
                    </th>
                    <th><select id="filter-vegan" class="form-select form-select-sm" onchange="filterAlimentiTable()">
                        <option value="all"></option>
                        <option value="true">T</option>
                        <option value="false">F</option>
                    </select></th>
                    <th style="text-align: center;">
                        <button id="cleanFiltersBtn" class="btn btn-sm btn-secondary" onclick="cleanFiltersAlimenti()">
                            Clean
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody id="alimenti-tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>