<!-- Modal per confermare l'eliminazione -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Conferma Eliminazione</h5>
            </div>
            <div class="modal-body">
                Sei sicuro di voler eliminare questo menu? Questa azione è irreversibile.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-danger btn-sm" id="confirmDeleteBtn">Elimina</button>
            </div>
        </div>
    </div>
</div>
