<!-- app/templates/lista_spesa.html -->
<div id="ListaSpesa" class="tabcontent">
    <div class="card">
        <div class="card-body">
            <table id="lista-spesa-table" class="table table-sm table-striped table-bordered table-margin">
                <thead>
                <tr>
                    <th onclick="sortTable('lista-spesa-table', 0)">Alimento</th>
                    <th onclick="sortTable('lista-spesa-table', 1)">Quantità Totale (g)</th>
                </tr>
                </thead>
                <tbody id="spesa_tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
