<div id="Menu" class="tabcontent">
    {% include 'week_selector.html' %}
    <table class="table table-striped table-margin table-bordered table-hover table-light">
        <thead>
        <tr>
            <th>Pasto</th>
            <th>Lunedì</th>
            <th>Martedì</th>
            <th>Mercoledì</th>
            <th>Giovedì</th>
            <th>Venerdì</th>
            <th>Sabato</th>
            <th>Domenica</th>
        </tr>
        </thead>
        <tbody id="menu_tbody">
        {% for pasto in ['colazione', 'spuntino_mattina', 'pranzo', 'spuntino_pomeriggio', 'cena'] %}
        <tr>
            <td>{{ pasto.replace('_', ' ').capitalize() }}</td>
            {% for dati_giorno in ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato', 'domenica'] %}
            <td>
                {% for ricetta in menu.day[dati_giorno].pasto[pasto].ricette %}
                <div>{{ ricetta.nome_ricetta }} ({{ ricetta.qta }}x)</div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td><strong>Rimanente</strong></td>
                {% for dati_giorno in ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato', 'domenica'] %}
                <td>
                    <div><strong>Calorie:</strong> <span id="remaining-kcal-{{ dati_giorno }}">0</span></div>
                    <div><strong>Carboidrati:</strong> <span id="remaining-carboidrati-{{ dati_giorno }}">0</span></div>
                    <div><strong>Proteine:</strong> <span id="remaining-proteine-{{ dati_giorno }}">0</span></div>
                    <div><strong>Grassi:</strong> <span id="remaining-grassi-{{ dati_giorno }}">0</span></div>
                </td>
                {% endfor %}
            </tr>
        </tfoot>
    </table>
</div>
