<div id="Menu" class="tabcontent">
    <div class="table-margin d-flex">
    <div class="input-group mb-3">
        {% include 'week_selector.html' %}
        <button id="generateMenuBtn" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#generateMenuModal">Genera Menu</button>
        <button id="captureButton" class="btn btn-primary btn-sm" {% if settimane|length == 0 %}disabled{% endif %}>Stampa Menu</button>
        <button id="deleteMenuBtn" class="btn btn-danger btn-sm delete-menu-btn" {% if settimane|length == 0 %}disabled{% endif %}>Elimina Menu</button>
    </div>
    </div>
    <div id="capture">
    <table class="table table-striped table-margin table-bordered table-hover table-light">
        <thead>
        <tr>
            <th class="text-align-center">Pasto</th>
            <th class="text-align-center">Lunedì</th>
            <th class="text-align-center">Martedì</th>
            <th class="text-align-center">Mercoledì</th>
            <th class="text-align-center">Giovedì</th>
            <th class="text-align-center">Venerdì</th>
            <th class="text-align-center">Sabato</th>
            <th class="text-align-center">Domenica</th>
        </tr>
        </thead>
        <tbody id="menu_tbody">
        {% for pasto in ['colazione', 'spuntino_mattina', 'pranzo', 'spuntino_pomeriggio', 'cena'] %}
        <tr>
            <td>{{ pasto.replace('_', ' ').capitalize() }}</td>
            {% for dati_giorno in ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato', 'domenica'] %}
            <td>
                {% for ricetta in menu.day[dati_giorno].pasto[pasto].ricette %}
                <div data-bs-toggle="popover" data-bs-title="{{ ricetta.ricetta }}" class="recipe-cell">{{ ricetta.nome_ricetta }} ({{ ricetta.qta }}x)</div>
                {% endfor %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><strong>Rimanente</strong></td>
            {% for dati_giorno in ['lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato', 'domenica'] %}
            <td>
                <div><strong>Kcal:</strong> <span id="remaining-kcal-{{ dati_giorno }}">{{ remaining_macronutrienti[dati_giorno]['kcal'] }}</span></div>
                <div><strong>Carboidrati:</strong> <span id="remaining-carboidrati-{{ dati_giorno }}">{{ remaining_macronutrienti[dati_giorno]['carboidrati'] }}</span></div>
                <div><strong>Proteine:</strong> <span id="remaining-proteine-{{ dati_giorno }}">{{ remaining_macronutrienti[dati_giorno]['proteine'] }}</span></div>
                <div><strong>Grassi:</strong> <span id="remaining-grassi-{{ dati_giorno }}">{{ remaining_macronutrienti[dati_giorno]['grassi'] }}</span></div>
            </td>
            {% endfor %}
        </tr>
        </tfoot>
    </table>
        </div>
</div>
