<!-- app/templates/modal_error.html -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Errore nella Generazione del Menu</h5>
      </div>
      <div class="modal-body">
        Si è verificato un errore durante la generazione del menu. Verifica che tutti i dati siano stati compilati nel tab "Dieta" e riprova.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>
