<!-- app/templates/modifica_pasti.html -->
<div id="ModificaPasti" class="tabcontent">
    <div class="card mb-2">
        <div class="card-body">

            <div class="input-group mb-3">
                <select class="form-select form-select-sm" id="weekFrom">
                    <!-- Le opzioni verranno caricate dinamicamente -->
                </select>

                <span class="input-group-text"><i class="fas fa-arrow-right"></i></span>

                <select class="form-select form-select-sm" id="weekTo">
                    <!-- Le opzioni verranno caricate dinamicamente -->
                </select>

                <button class="btn btn-warning btn-sm" onclick="copyWeek()" data-bs-toggle="tooltip"
                        title="Copia Menu Settimanale"><i class="fas fa-arrow-right"></i></button>
            </div>

            <!-- Sezione per l'inversione dei giorni -->
            <div class="input-group mb-3">
                <select class="form-select form-select-sm" id="day1">
                    <option value="lunedi">Lunedì</option>
                    <option value="martedi">Martedì</option>
                    <option value="mercoledi">Mercoledì</option>
                    <option value="giovedi">Giovedì</option>
                    <option value="venerdi">Venerdì</option>
                    <option value="sabato">Sabato</option>
                    <option value="domenica">Domenica</option>
                </select>

                <span class="input-group-text"><i class="fas fa-exchange-alt"></i></span>

                <select class="form-select form-select-sm" id="day2">
                    <option value="lunedi">Lunedì</option>
                    <option value="martedi">Martedì</option>
                    <option value="mercoledi">Mercoledì</option>
                    <option value="giovedi">Giovedì</option>
                    <option value="venerdi">Venerdì</option>
                    <option value="sabato">Sabato</option>
                    <option value="domenica">Domenica</option>
                </select>

                <button class="btn btn-warning btn-sm" onclick="invertDays()" data-bs-toggle="tooltip"
                        title="Inverti il Menu dei Giorni"><i class="fas fa-exchange-alt"></i></button>
            </div>
        </div>
    </div>
    <div class="card mb-2 sticky-container">
        <div class="card-body">
            <!-- Dropdown per selezionare la settimana -->
            <div class="d-flex">
                <div class="input-group mb-3">
                    {% include 'week_selector.html' %}
                    <select class="form-select form-select-sm" id="selectDay" onchange="filterDayCards()">
                        <option value="all">Tutti i giorni</option>
                        <option value="lunedi">Lunedì</option>
                        <option value="martedi">Martedì</option>
                        <option value="mercoledi">Mercoledì</option>
                        <option value="giovedi">Giovedì</option>
                        <option value="venerdi">Venerdì</option>
                        <option value="sabato">Sabato</option>
                        <option value="domenica">Domenica</option>
                    </select>
                </div>
            </div>
            <div id="remaining-macros-container">
                <!-- Editor del menu caricato dinamicamente -->
            </div>
            <div id="remaining-gruppi-container">
                <!-- Editor del menu caricato dinamicamente -->
                <table id="remaining-consumi-table" class="table table-striped table-sm table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="menuEditor">
        <!-- Editor del menu caricato dinamicamente -->
    </div>
</div>