<div id="Peso" class="tabcontent">
    <form id="weightForm">
        <div class="input-group mb-3">
            <span class="input-group-text">Peso</span>
            <input type="number" class="form-control" id="weightInput" placeholder="Inserisci il tuo peso">
            <span class="input-group-text">kg</span>
        </div>
        <button class="btn btn-secondary btn-sm" type="button" onclick="submitWeight()">Registra Peso</button>
    </form>
    <div id="weightChart" style="height: 400px;">
        <canvas id="weightChartCanvas"></canvas>
    </div>
</div>
