<div id="Ricette" class="tabcontent">
    <table id="ricette-table" class="table table-striped table-hover table-margin">
        <thead>
        <tr>
            <th class="nome-ricetta"><button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addRecipeModal">
                Ricetta +
            </button></th>
            <th class="calorie">Calorie (kcal)</th>
            <th class="carboidrati">Carboidrati (g)</th>
            <th class="proteine">Proteine (g)</th>
            <th class="grassi">Grassi (g)</th>
            <th class="colazione">Colazione</th>
            <th class="colazione-sec">Merenda</th>
            <th class="spuntino">Spuntino</th>
            <th class="principale">Principale</th>
            <th class="contorno">Contorno</th>
            <th class="attiva">Attiva</th>
            <th class="azione">Azioni</th>
        </tr>
        <tr>
            <th><input type="text" id="filter-nome" class="form-control filter-text" placeholder="Filtra per nome" onkeyup="filterTable()"></th>
            <th><input type="number" id="filter-calorie-min" class="form-control form-control-sm filter-number  filter-text" placeholder="Min" oninput="filterTable()">
            <input type="number" id="filter-calorie-max" class="form-control form-control-sm filter-number  filter-text" placeholder="Max" oninput="filterTable()">
       </th>
            <th><input type="number" id="filter-carbo-min" class="form-control form-control-sm filter-number  filter-text" placeholder="Min" oninput="filterTable()">
            <input type="number" id="filter-carbo-max" class="form-control form-control-sm filter-number  filter-text" placeholder="Max" oninput="filterTable()">
       </th>
            <th><input type="number" id="filter-proteine-min" class="form-control form-control-sm filter-number  filter-text" placeholder="Min" oninput="filterTable()">
            <input type="number" id="filter-proteine-max" class="form-control form-control-sm filter-number  filter-text" placeholder="Max" oninput="filterTable()"></th>
            <th><input type="number" id="filter-grassi-min" class="form-control form-control-sm filter-number  filter-text" placeholder="Min" oninput="filterTable()">
            <input type="number" id="filter-grassi-max" class="form-control form-control-sm filter-number  filter-text" placeholder="Max" oninput="filterTable()"></th>
            <th>
                <select id="filter-colazione" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select>
            </th>
            <th><select id="filter-colazione-sec" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select></th>
            <th><select id="filter-spuntino" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select></th>
            <th><select id="filter-principale" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select></th>
            <th><select id="filter-contorno" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select></th>
            <th><select id="filter-attiva" class="form-select form-select-sm" onchange="filterTable()">
                <option value="all"></option>
                <option value="true">T</option>
                <option value="false">F</option>
            </select></th>
            <th><button id="cleanFiltersBtn" class="btn btn-sm btn-secondary" onclick="cleanFilters()">Clean</button></th>
        </tr>
        </thead>
        <tbody>
        {% for ricetta in ricette %}
        <tr>
            <td class="nome-ricetta">
                <div>
                    <input type="text" class="form-control filter-text" data-ricetta-id="{{ ricetta.id }}"
                           name="nome_{{ ricetta.id }}"
                           value="{{ ricetta.nome_ricetta }}">
                    <label hidden class="form-control form-control-sm">{{ ricetta.nome_ricetta }}</label>
                </div>
            </td>
            <td class="calorie">{{ ricetta.kcal }}</td>
            <td class="carboidrati">{{ ricetta.carboidrati }}</td>
            <td class="proteine">{{ ricetta.proteine }}</td>
            <td class="grassi">{{ ricetta.grassi }}</td>

            <td class="colazione">
                <div>
                    <input type="checkbox" name="colazione_{{ ricetta.id }}" {% if ricetta.colazione %}checked{% endif %}>
                    <label hidden class="form-control form-control-sm">{{ ricetta.colazione }}</label>
                </div>
            </td>
            <td class="colazione-sec">
                <div>
                    <input type="checkbox" name="colazione_sec_{{ ricetta.id }}" {% if ricetta.colazione_sec %}checked{% endif %}>
                    <label hidden class="form-control form-control-sm">{{ ricetta.colazione_sec }}</label>
                </div>
            </td>
            <td class="spuntino">
                <div>
                    <input type="checkbox" name="spuntino_{{ ricetta.id }}" {% if ricetta.spuntino %}checked{% endif %}>
                    <label hidden class="form-control form-control-sm">{{ ricetta.spuntino }}</label>
                </div>
            </td>
            <td class="principale">
                <div>
                    <input type="checkbox" name="principale_{{ ricetta.id }}" {% if ricetta.principale %}checked{% endif %}>
                    <label hidden class="form-control form-control-sm">{{ ricetta.principale }}</label>
                </div>
            </td>
            <td class="contorno">
                <div>
                    <input type="checkbox" name="contorno_{{ ricetta.id }}" {% if ricetta.contorno %}checked{% endif %}>
                    <label hidden class="form-control form-control-sm">{{ ricetta.contorno }}</label>
                </div>
            </td>
            <td class="attiva">
                <div>
                    <label hidden class="form-control form-control-sm">{{ ricetta.attiva }}</label>
                    <input type="checkbox" class="attiva-checkbox" name="attiva_{{ ricetta.id }}"
                           data-ricetta-id="{{ ricetta.id }}" {% if ricetta.attiva
                           %}checked{% endif %} disabled>
                </div>
            </td>
            <td class="azione">
                <div class="btn-group" role="group">
                    <button class="btn btn-outline-primary btn-sm save-btn" data-ricetta-id="{{ ricetta.id }}"
                            data-ricetta-nome="{{ ricetta.nome_ricetta }}"
                            data-ricetta-colazione="{{ ricetta.colazione }}"
                            data-ricetta-colazione_sec="{{ ricetta.colazione_sec }}"
                            data-ricetta-spuntino="{{ ricetta.spuntino }}"
                            data-ricetta-principale="{{ ricetta.principale }}"
                            data-ricetta-contorno="{{ ricetta.contorno }}"
                            data-ricetta-attiva="{{ ricetta.attiva }}">Salva
                    </button>

                    <button class="btn btn-outline-primary btn-sm edit-btn" data-ricetta-id="{{ ricetta.id }}"
                            data-bs-toggle="modal" data-bs-target="#editRecipeModal">Modifica
                    </button>

                    <button class="btn btn-outline-primary btn-sm toggle-btn" data-ricetta-id="{{ ricetta.id }}"
                            data-ricetta-attiva="{{ ricetta.attiva }}">
                        Attiva/Disattiva
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>