<div id="Ricette" class="tabcontent">
    <div class="card">
        <div class="card-body">
            <table id="ricette-table" class="table table-sm table-striped table-margin">
                <thead>
                <tr>
                    <th class="nome-ricetta">
                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#addRecipeModal">
                            Ricetta +
                        </button>
                    </th>
                    <th class="calorie">Kcal</th>
                    <th class="carboidrati">Carboidrati (g)</th>
                    <th class="proteine">Proteine (g)</th>
                    <th class="grassi">Grassi (g)</th>
                    <th class="colazione">Colazione</th>
                    <th class="colazione-sec">Merenda</th>
                    <th class="spuntino">Spuntino</th>
                    <th class="principale">Principale</th>
                    <th class="contorno">Contorno</th>
                    <th class="pane">Pane</th>
                    <th class="attiva">Attiva</th>
                    <th class="azione">Azioni</th>
                </tr>
                <tr>
                    <th><input type="text" id="filter-nome" class="form-control filter-text"
                               placeholder="Filtra per nome" onkeyup="filterTable()"></th>
                    <th><input type="number" id="filter-calorie-min"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Min"
                               oninput="filterTable()">
                        <input type="number" id="filter-calorie-max"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Max"
                               oninput="filterTable()"></th>
                    <th><input type="number" id="filter-carbo-min"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Min"
                               oninput="filterTable()">
                        <input type="number" id="filter-carbo-max"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Max"
                               oninput="filterTable()"></th>
                    <th><input type="number" id="filter-proteine-min"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Min"
                               oninput="filterTable()">
                        <input type="number" id="filter-proteine-max"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Max"
                               oninput="filterTable()"></th>
                    <th><input type="number" id="filter-grassi-min"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Min"
                               oninput="filterTable()">
                        <input type="number" id="filter-grassi-max"
                               class="form-control form-control-sm filter-number  filter-text" placeholder="Max"
                               oninput="filterTable()"></th>
                    <th>
                        <select id="filter-colazione" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-colazione-sec" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-spuntino" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-principale" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-contorno" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-pane-ricette" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <select id="filter-attiva" class="form-select form-select-sm" onchange="filterTable()">
                            <option value="all"></option>
                            <option value="true">T</option>
                            <option value="false">F</option>
                        </select></th>
                    <th>
                        <button id="cleanFiltersBtn" class="btn btn-sm btn-secondary" onclick="cleanFilters()">Clean
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody id="ricette-tbody">
                    <!-- popolato dinamicamente -->
                </tbody>
            </table>
        </div>
    </div>
</div>