<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Menu')" id="defaultOpen">Menu Settimanale</button>
    <button class="tablinks" onclick="openTab(event, 'Alimenti')" >Alimenti Disponibili</button>
    <button class="tablinks" onclick="openTab(event, 'Ricette')" >Ricette Disponibili</button>
    <button class="tablinks" onclick="openTab(event, 'ListaSpesa')">Lista della Spesa</button>
    <button class="tablinks" id="peso-tab" onclick="openTab(event, 'Peso')">Registro del Peso</button>
    <button class="tablinks" id="dieta-tab" onclick="openTab(event, 'Dieta')">Dieta</button>
</div>
