<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Ricette')" id="defaultOpen">Ricette Disponibili</button>
    <!-- <button class="tablinks" onclick="openTab(event, 'Ingredienti')">Ingredienti delle Ricette</button>-->
    <button class="tablinks" onclick="openTab(event, 'Menu')">Menu Settimanale</button>
    <button class="tablinks" onclick="openTab(event, 'ListaSpesa')">Lista della Spesa</button>
    <button class="tablinks" onclick="openTab(event, 'Peso')">Registro del Peso</button>
    <button class="tablinks" onclick="openTab(event, 'Dieta')">Dieta</button>
</div>