<div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="welcomeModalLabel">Benvenuto!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Questo è il tuo primo accesso, vuoi imparare ad utilizzare l'app?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">No, grazie</button>
        <button type="button" class="btn btn-primary btn-sm" id="startTutorial">Inizia il Tutorial</button>
      </div>
    </div>
  </div>
</div>