<!-- Dropdown per selezionare la settimana -->
<div class="table-margin d-flex align-items-center">
  <select class="form-select form-select-sm" id="settimana_select" onchange="cambiaMenuSettimana()" style="width: auto; height: 38px;">
      {% for settimana in settimane %}
      <option value="{{ settimana.id }}">Settimana dal {{ settimana.data_inizio }} al {{ settimana.data_fine }}</option>
      {% endfor %}
  </select>
  <button type="button" class="btn btn-primary btn-sm ms-2" id="generateMenuBtn" data-bs-toggle="modal" data-bs-target="#generateMenuModal" style="height: 38px;">
    Genera Menu
  </button>
</div>